<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Demo adminlte</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/adminlte/2.3.8/bootstrap/css/bootstrap.css}"/>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link-->
    <!--href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <!--rel="stylesheet"/>-->
</head>
<body>
<div class="container">
    <h2>Badges</h2>
    <br>
    <div th:label="#{label.title}"></div>
    <label th:label="#{label.title}"></label>
    <a href="#">News <span class="badge">g45</span></a>
    <a href="#">Comments <span class="badge">10</span></a>
</div>
</body>
</html>